
.container{
    width:1800px;
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0 ;
  }
.rank{
    width: 150px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #9999;
  }

.change{
  /* background-color: red; */
  font-weight: bold;
  display: flex;
  margin :0 0 10px 10px;
}
