.container{
    
    display: flex;
    flex-direction: row;
    border : 1px solid #9999;
    
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #9999;
}

.rank{
    width:100px;
    height:75px;
    
}

.address{
    
    width:450px;
}

.total{

    width:400px;
    
}